<div class="cta_dark">
      <div class="cta-wrapper">
        <div data-w-id="7c11ab97-a8a7-06e7-8fd0-506277145921" class="animation-div">
          <a href="{{ links.634882d6 }}" data-w-id="7c11ab97-a8a7-06e7-8fd0-506277145922" class="split-content cta-left w-inline-block">
            <h2 class="title cta-split-content-left">{{ texts.-7a935b3d }}</h2>
            <div class="container-default"></div>
            <p class="paragraph cta-split-content-left">{{ texts.5d8d8c8e }}</p>
            <div class="link-wrapper white">
              <div>{{ texts.-364d0a89 }}</div>
              <div class="underline-wrapper white">
                <div class="underline white"></div>
              </div>
            </div>
          </a>
        </div>
        <div data-w-id="7c11ab97-a8a7-06e7-8fd0-50627714592d" class="animation-div">
          <a href="{{ links.-2a8014a7 }}" data-w-id="7c11ab97-a8a7-06e7-8fd0-50627714592e" class="split-content cta-right w-inline-block">
            <h2 class="title cta-split-content-right">{{ texts.799978fe }}</h2>
            <p class="paragraph cta-split-content-right">{{ texts.-8de2088 }}</p>
            <div class="link-wrapper cta-right">
              <div>{{ texts.7f2746de }}</div>
              <div class="underline-wrapper">
                <div class="underline"></div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>