<div class="sitecontainer">
      <div>
        <div class="cta-wrapper">
          <div data-w-id="d92c57d5-64c7-7587-5acd-dd9c16026138" class="animation-div">
            <a href="{{ links.1ffa91e9 }}" data-w-id="d92c57d5-64c7-7587-5acd-dd9c16026139" class="split-content cta-left w-inline-block">
              <h2 class="title cta-split-content-left">{{ texts.-7a935b3d }}</h2>
              <div class="container-default"></div>
              <p class="paragraph cta-split-content-left">{{ texts.5d8d8c8e }}</p>
              <div class="link-wrapper white">
                <div>{{ texts.-364d0a89 }}</div>
                <div class="underline-wrapper white">
                  <div class="underline white"></div>
                </div>
              </div>
            </a>
          </div>
          <div data-w-id="d92c57d5-64c7-7587-5acd-dd9c16026144" class="animation-div">
            <a href="{{ links.-3b44ccc6 }}" data-w-id="d92c57d5-64c7-7587-5acd-dd9c16026145" class="split-content cta-right w-inline-block">
              <h2 class="title cta-split-content-right">{{ texts.799978fe }}</h2>
              <p class="paragraph cta-split-content-right">{{ texts.-8de2088 }}</p>
              <div class="link-wrapper cta-right">
                <div>{{ texts.7f2746de }}</div>
                <div class="underline-wrapper">
                  <div class="underline"></div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>