<div class="footercontainer">
      <div class="container-default"></div>
      <div class="container-default w-container">
        <div class="footer-wrapper">
          <div class="footer-small-print-wrapper">
            <div data-w-id="998675d3-f3c3-086f-0d6f-0ea81ff3da94">{{ texts.6f5d8a6d }}</div>
            <div data-w-id="998675d3-f3c3-086f-0d6f-0ea81ff3da96">{{ texts.-711500fa }}<a href="{{ links.-7b9c6acf }}"><strong>{{ texts.14a92214 }}</strong></a>
              <a href="{{ links.132c1309 }}" target="_blank"></a>
            </div>
          </div>
        </div>
      </div>
    </div>