<div data-collapse="medium" data-animation="default" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="navbar w-nav">
    <div id="w-node-_8330c3e6-b2ad-7821-68fc-0e059e939eb2-9e939eb1" class="div-block-13">
      <a href="{{ links.5e40ddac }}" class="brand backbutton w-nav-brand"><img src="{{ images.20502532.url }}" loading="lazy" alt="{{ images.20502532.alt }}" class="button_back"></a>
      <a href="{{ links.2f }}" class="brand w-nav-brand"><img src="{{ images.-19d4aa8a.url }}" loading="lazy" alt="{{ images.-19d4aa8a.alt }}" class="navbar_logo"></a>
      <div class="div-block-14">
        <a href="{{ links.23 }}" class="button-primary header-button w-button">{{ texts.-13f6fc6f }}</a>
      </div>
    </div>
  </div>